body
{ 
        font-family: "Tiny5", sans-serif;
        font-weight: 400;
        font-style: normal;
        background: LightBlue;
    
}
.header_div
{
    background: lightblue;
    color: red;
}

.header_div p{
    font-family: ´roboto´ , sans-serif;
    color: aquamarin;
    letter-spacing: 2px;
    font-size: 12px;
    font-weight: bold
}

   .main_div button{
    font-family: ´roboto´ , sans-serif;
    color: aquamarin;
    letter-spacing: 2px;
    font-size: 12px;
    font-weight: bold
    
}

.copy_right_footer {
    position: fixed;
    color: #6c757d;
    bottom: 0;
    width: 100%;
    font-size: 18px;
    background-color: #f5f5f5;
    line-height: 3;
    text-align: center;
    text-shadow: 5px 5px 5px rgb(151, 149, 149);
 }
 